<p>Your landlord could not accept the receipt you uploaded for <strong>{{topicLine}}</strong>.</p>
{{#if note}}
<div class="note">
  <strong>Note from the team:</strong><br />{{note}}
</div>
{{else}}
<p>Please upload a clearer photo or updated proof of payment.</p>
{{/if}}
<p>Sign in to the tenant portal to try again.</p>
